{% extends "main.html" %}
{% block content %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">{{post.pub_date}}</span>
                        <span class="section-heading-lower">{{post.title}}</span>
                    </h2>

                    <p>{{post.body}}</p> <!---->
                    {% if post.image %}
                    <img src = "{{ post.image.url }}" width = "250" height = "250" alt = "image"> 
                {% endif %}
                <br>
                    <p>{{post.people}}</p>
                    <a href = "{% url 'edit' post.id %}">수정하기</a>
                    <a href = "{% url 'delete' post.id %}">삭제하기</a>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}